.register {
       padding: 1rem;
    width: 94%;
    margin: 2vh auto;

    font-family: Arial, sans-serif;
    text-align: center;
    color: #333;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    @media (min-width: 600px) {
        max-width: 600px;
        height: auto;
        padding: 1rem;
        margin: 2rem auto;

    }

    &-header {
        margin-bottom: 20px;
    }

    &-title {
        font-size: 1.8rem;
        color: #2c3e50;
        margin-bottom: 10px;
    }

    &-instructions {
        font-size: 1rem;
        color: #7f8c8d;
    }

    &-content {
        margin: 20px 0;
    }
&-divider {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

&-divider-line {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
    border: none;
}
&-divider-text {
    margin: 0 10px;
    font-size: 0.9rem;
    color: #7f8c8d;
}

    &-footer {
    margin-top: 20px;
    font-size: 0.9rem;
}
&-signin-link {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;

    &:hover {
        text-decoration: underline;
    }
}
}