.dashboard {
  .dashboard__jumbotron {
    background-color: #8bb9b3;
    padding: 20px;
    text-align: center;

    &-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }

    &-content {
      flex: 1;
      max-width: 500px;
    }

    &-title {
      font-size: 2rem;
      margin-bottom: 10px;
    }

    &-subtitle {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }

    &-button {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    &-image {
      flex: 1;
      max-width: 400px;

      .dashboard__jumbotron-img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }
  }

  .dashboard__categories {
    margin: 1rem;
    padding: 1rem;
    background-color: #8bb9b3;
    border-radius: 1rem;

    &-title {
      font-size: 1.8rem;
      text-align: center;
      margin-bottom: 20px;
    }

    &-title {
      text-align: center;
      font-size: 1rem;
      margin-top: 10px;
    }

    &-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 1rem;
      justify-items: center;

      .dashboard__category {
        &-image {
          max-width: 120px;
          height: 120px;
          margin: 0 auto;

          &-img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 2px solid #3a3131;
            object-fit: cover;
          }
        }
      }

    }




  }

  .dashboard__events {
    margin: 40px 0;

    &-title {
      font-size: 1.8rem;
      text-align: center;
      margin-bottom: 20px;
    }

    &-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
      &-card {
        width: 200px;
        text-align: center;
  
        .dashboard__event-img {
          max-width: 100%;
          height: auto;
          border-radius: 10px;
        }
  
        .dashboard__event-title {
          font-size: 1.2rem;
          margin: 10px 0;
        }
  
        .dashboard__event-description {
          font-size: 0.9rem;
          color: #555;
        }
      }
    }


  }
}