@import "../../../styles/variables.scss";

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  transition: background 0.3s ease;

  &.menu-open {

  }

  &__container {
        max-width: 1000px;
    margin: auto;
    padding: 0.5rem;
    position: relative;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__toggle {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: $primary-color;
    display: none;

    @media (max-width: 768px) {
      display: block;
    }
  }

  &__logo {
    cursor: pointer;

    img {
      width: 110px;
    }
  }

  &__nav-desktop {
    display: flex;
    gap: 2rem;

    a {
      text-decoration: none;
      color: $tertiary-color;

      &:hover {
        color: $primary-color;
      }
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__nav-mobile {
    display: none;

    @media (max-width: 768px) {
      flex-direction: column;
      background: white;
      width: 100%;
      padding: 1rem 0;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1001;
      opacity: 0;
      transform: translateY(-20px);
      transition: opacity 0.3s ease, transform 0.3s ease;

      &.slide-down {
        opacity: 1;
        display: flex;
        transform: translateY(0);
      }

      a {
        text-align: center;
        padding: 1rem;
        text-decoration: none;
        color: $tertiary-color;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  &__overlay {
    @media (max-width: 768px) {
      content: "";
      position: fixed;
      inset: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 1000;
    }
  }

  &__icons {
    display: flex;
    gap: 1rem;
    align-items: center;

    a {
      font-size: 1.5rem;
      color: $tertiary-color;
    text-decoration: none;
      &:hover {
        color: $primary-color;
      }
    }
  }

  &__carrito {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }

  &__carrito-count {
    background: red;
    position: absolute;
        top: -5px;
    right: 9px;
    color: white;
    border-radius: 50%;
    padding: 0px 5px;
    font-size: 0.75rem;
    scale: 0.8;
  }
}